/* Gleam
 *
 * License: MIT
 * Copyright (C) 2020 Maviek
 */

:root {
    --font: SFUIDisplay-Regular, Helvetica Neue, system-ui, Segoe UI, Helvetica, Arial, sans-serif;
}

body.preload * {
    transition: none !important;
}

* { outline: none; }

*+* {
    box-sizing: border-box;
    margin: .75em 0;
}

input[type="text"], textarea, select {
    padding: 8px 10px;
    margin: 5px 0;
    width: 100%;
    font-size: 1em;
    line-height: 1.2;
    transition: 0.2s;
    background-color: #fff;
    appearance: none;
    outline: none;
    border-radius: 7px;
    border: solid 1px #fff;
    vertical-align: middle;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.10);
}

input[type="text"]:focus, textarea:focus {
    border-color: #186bff;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.20);
}

@media(min-width:35em) {
    .col { display: table-cell; }
    .\31 { width: 5%; }
    .\32 { width: 15%; }
    .\33 { width: 22%; }
    .\34 { width: 30%; }
    .\35 { width: 40%; }
    .row {
        display: table;
        border-spacing: 1em 0;
    }
}

.btn.primary {
    color: #fff;
    background: #186bff;
}

.btn.primary:hover { background: #083bdd; }
.btn:hover { box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.20); }

.btn {
    padding: 1.2em;
    transition: 0.2s;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.10);
    color: #186bff;
    background: #fff;
    border: none;
    border-radius: 7px;
    letter-spacing: .1em;
    font-weight: 600;
    font: 0.9em var(--font);
    cursor: pointer;
}

.w-100, .row {
    width: 100%;
}

.card, pre {
    padding: 1em;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.card:focus, hr {
    outline: 0;
    border: solid .1em #186bff;
}

.c {
    max-width: 60em;
    padding: 1em;
    margin: auto;
    font: 1em/1.6 var(--font);
}

a {
    color: #186bff;
    text-decoration: none;
}

a:visited { color: #186bff; }
a:hover {
    cursor: pointer;
    text-decoration: underline;
}

pre { overflow: auto; }
code { font: 300 1.25em monospace; }

h1 { font: 600 2.5em var(--font); }
h2 { font: 500 2.2em var(--font); }
h3 { font: 400 2em   var(--font); }
h4 { font: 400 1.5em var(--font); }
h5 { font: 400 1.3em var(--font); }
h6 { font: 400 1.2em var(--font); }

td, th {
    padding: 1em;
    text-align: left;
    border-bottom: solid #eee;
}

label {
    display: block;
    font-size: 1em;
    font-weight: 600;
    margin-left: .25em;
}
